In [15]:
import pandas as pd
import numpy as np

In [16]:
# survey_df= pd.read_csv('survey_responses.csv')
# survey_df.head()

In [17]:
# survey_df.rename(columns={'Email Address' : 'family'}, inplace=True)
# survey_df.head()

In [18]:
# survey_df.family = pd.factorize(survey_df.family)[0]
# survey_df.head()

In [19]:
# survey_df.to_csv('survey_data.csv')

In [20]:
survey_df = pd.read_csv('survey_data.csv', index_col=[0])
survey_df.head()

,Timestamp,family,"What is your pet's name? (As a reminder, you should submit one separate survey for each cat you have.)",How did you acquire this cat?,"If your cat came from a cat cafe, or if you indicated you adopted this cat from ""Other"", please give the name of the cafe or other adoption/purchase source below:",In which of the following life stages is this cat?,"How long, in years, have you had this cat? (Please round up or round down to the closest whole number.)",Which of these best describes your cat's coat color?,"If your cat's coat was marked as ""Other"", please describe the cat's coloration below:","Approximately how much does your cat weigh, in pounds? (Please use decimals instead of fractions if you know your cat's weight very specifically.)","On a scale from 1 to 10, with 1 being ""scaredy cat"" and 10 being ""social butterfly"", how social is your cat around people?","On a scale from 1 to 10, with 1 being ""Has one brain cell"" and 10 being ""Kitty Einstein"", how intelligent do you think your cat is? (A nice simple quiz you can use to gauge this based on everyday behaviors can be found here.)","On a scale from 1 to 10, with 1 being ""Couch potato"" and 10 being ""Always in motion"", how active/playful is your cat?","On a scale from 1 to 10, with 1 being ""Cat's got his tongue"" and 10 being ""Chatty Cathy"", how vocal is your cat?"
0,6/5/2023 17:07:17,0,Archie,Adopted at a cat cafe,NaN,Adult (3--6 years),4,Orange tabby/orange tabby with white,NaN,15,9,7,6,3
1,6/5/2023 17:15:18,1,Dax,Adopted at a cat cafe,NaN,Junior (7 months--2 years) KITTENS UNDER 1 YEA...,0,Orange tabby/orange tabby with white,NaN,9.5,10,7,9,8
2,6/5/2023 19:54:13,2,Aylin,Acquired through a friend or relative,NaN,Junior (7 months--2 years) KITTENS UNDER 1 YEA...,1,Calico,NaN,7,5,8,6,7
3,6/5/2023 20:17:40,3,Ali,Adopted through animal shelter/rescue group,NaN,Mature (7--10 years),6,Tortoiseshell,NaN,15,2,7,3,5
4,6/5/2023 20:18:42,3,Warner,Adopted through animal shelter/rescue group,NaN,Mature (7--10 years),6,Gray tuxedo (gray and white),NaN,12,9,7,7,10

In [21]:
column_names = ['timestamp', 'family', 'name', 'acquired_from', 'place_name', 'age', 'home_duration', 'color',
                 'other_color', 'weight', 'socialness', 'intelligence', 'activity_level', 'vocalization']
survey_df.columns = column_names
survey_df

,timestamp,family,name,acquired_from,place_name,age,home_duration,color,other_color,weight,socialness,intelligence,activity_level,vocalization
0,6/5/2023 17:07:17,0,Archie,Adopted at a cat cafe,NaN,Adult (3--6 years),4,Orange tabby/orange tabby with white,NaN,15,9,7,6,3
1,6/5/2023 17:15:18,1,Dax,Adopted at a cat cafe,NaN,Junior (7 months--2 years) KITTENS UNDER 1 YEA...,0,Orange tabby/orange tabby with white,NaN,9.5,10,7,9,8
2,6/5/2023 19:54:13,2,Aylin,Acquired through a friend or relative,NaN,Junior (7 months--2 years) KITTENS UNDER 1 YEA...,1,Calico,NaN,7,5,8,6,7
3,6/5/2023 20:17:40,3,Ali,Adopted through animal shelter/rescue group,NaN,Mature (7--10 years),6,Tortoiseshell,NaN,15,2,7,3,5
4,6/5/2023 20:18:42,3,Warner,Adopted through animal shelter/rescue group,NaN,Mature (7--10 years),6,Gray tuxedo (gray and white),NaN,12,9,7,7,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
472,6/13/2023 19:54:33,255,Cash,Found as a stray,NaN,Junior (7 months--2 years) KITTENS UNDER 1 YEA...,1,Solid black,NaN,7,3,10,4,8
473,6/13/2023 19:56:02,255,Penny,Adopted through animal shelter/rescue group,NaN,Junior (7 months--2 years) KITTENS UNDER 1 YEA...,1,Brown tabby/brown tabby with white,NaN,8,1,5,2,3
474,7/6/2023 11:41:41,256,Morty,Adopted at a cat cafe,NaN,Adult (3--6 years),4,Solid black,NaN,12,1,1,2,10
475,7/6/2023 11:46:57,256,Indiana,Adopted at a cat cafe,NaN,Adult (3--6 years),4,Orange tabby/orange tabby with white,NaN,15,5,8,3,2
476,7/6/2023 11:48:30,256,Jaxie,Found as a stray,NaN,Adult (3--6 years),3,Orange tabby/orange tabby with white,NaN,10,2,8,5,6

In [22]:
survey_df.drop(['timestamp', 'place_name'], axis=1, inplace=True)
survey_df.head()

,family,name,acquired_from,age,home_duration,color,other_color,weight,socialness,intelligence,activity_level,vocalization
0,0,Archie,Adopted at a cat cafe,Adult (3--6 years),4,Orange tabby/orange tabby with white,NaN,15,9,7,6,3
1,1,Dax,Adopted at a cat cafe,Junior (7 months--2 years) KITTENS UNDER 1 YEA...,0,Orange tabby/orange tabby with white,NaN,9.5,10,7,9,8
2,2,Aylin,Acquired through a friend or relative,Junior (7 months--2 years) KITTENS UNDER 1 YEA...,1,Calico,NaN,7,5,8,6,7
3,3,Ali,Adopted through animal shelter/rescue group,Mature (7--10 years),6,Tortoiseshell,NaN,15,2,7,3,5
4,3,Warner,Adopted through animal shelter/rescue group,Mature (7--10 years),6,Gray tuxedo (gray and white),NaN,12,9,7,7,10

In [23]:
survey_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 477 entries, 0 to 476
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   family          477 non-null    int64
 1   name            477 non-null    object
 2   acquired_from   477 non-null    object
 3   age             477 non-null    object
 4   home_duration   477 non-null    object
 5   color           477 non-null    object
 6   other_color     46 non-null     object
 7   weight          477 non-null    object
 8   socialness      477 non-null    int64
 9   intelligence    477 non-null    int64
 10  activity_level  477 non-null    int64
 11  vocalization    477 non-null    int64
dtypes: int64(5), object(7)
memory usage: 48.4+ KB

In [26]:
survey_df.shape

(477, 12)

In [27]:
print(survey_df['weight'].unique())

['15' '9.5' '7' '12' '8.6' '8 lbs' '13 pounds' '13' '16lbs' '7 lbs' '6lbs'
 '11' '9' '5' '2' '14.7' '10' '10 pounds' '12 lbs' '8' '3.5' '14 lbs'
 '9lbs' '13 lbs' '9.14' '20 lbs' '12 pounds' '17' '8.5' '6 lbs'
 '12.50 pounds' '14' '7 pounds' '15 pounds' '20' '12.5 lbs' 'Ginger 3 lbs'
 '16' '15.5' '6.5' '5.5' '11.5' 'No idea but he’s a smol kitteh' '25'
 '13lbs' '18 lbs' 'No idea ' '14lbs' '7lbs' '8.4 lbs' '8-15 pounds'
 'Grey and white tuxedo cat' '6.4' '16 lbs' '?' '18' '9.3 pounds'
 '6.8 pounds' '9 pounds' '5 pounds' '3 lbs' '12 LBS' '6 pounds 8 ounces'
 '6 pounds' '6.5 pounds' '8.2' '11.8' 'I don’t know. ' '21' '10 lbs'
 '17 pounds' '8.8' 'Brown and black tabby' '3' '10.73 lb ' '8.73 lb '
 '7.5 pounds ' '13.6' '9 lbs' '8lb' 'No idea' 'not sure' '17 lbs' '6' '4'
 'Less then a pound' '5 lbs' '24 lbs' '9.6' '9.8' '7.5' '7.2' '8lbs'
 '11.1 lbs' '8 pounds' '8 poundspp' '17.6'
 "I don't know and I'm bad at guessing these things!"
 "I'm not sure and I would hate to guess!" '9 pounds no' '13.4' '15 lbs'
 '12lbs' '8 pounds ' '4.2' '11 lbs' '21 lbs' "5 lbs (she's a dwarf kitty)"
 '9.5 lbs' '11 pounds' '6.6' '22' '28' '23lbs' '15lbs' '8.5 lbs'
 '19.5 lbs' '14.8 lbs' '24' '7 lbs ' '14 lb' '15 lb' '20 pounds' '112'
 '10lbs' 'roughly 9 lbs']